.button{
    background-color: $primary;
    border: none;
    color: floralwhite;
    display: inline-block;
    font-size: $mx-size;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}
.button--link{
    background: none;
}
.button--secondary{
    background: grey;
}