.text-input{
    border: 1px solid #cacccd;
    height: 47px;
    font-size: $mx-size;
    font-weight: 300;
    padding: 0.2rem;
}
.select{
    @extend .text-input;

}

.textarea{
    @extend .text-input;
    height: 10rem;
}